<!DOCTYPE html>
<html>
  <head>
    <title>rifferreinert</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'icon', type: 'image/x-icon' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Ben Riffer-Reinert</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if controller_name == 'home' %>">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= 'active' if controller_name == 'timer' %>"
                href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item <%= 'active' if controller_name == 'timer' %>" href="/timer">Timer</a>
            </div>
          </li>
        </ul>
        <span class="social-links">
          <a href="mailto:ben@rifferreinert.com">
            <%= icon('far', 'envelope', id: 'mail-icon', class: 'mr-3') %>
          </a>
          <a href="https://github.com/rifferreinert">
            <%= icon('fab', 'github', id: 'github-icon', class: 'mr-3') %>
          </a>
          <a href="https://www.linkedin.com/in/benjamin-riffer-reinert-24995177/">
            <%= icon('fab', 'linkedin', id: 'mail-icon', class: 'mr-3') %>
          </a>
        </span>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
