<!DOCTYPE html>
<html>
  <head>
    <title>rifferreinert</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'icon', type: 'image/x-icon' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55416742-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-55416742-1');
    </script>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Ben Riffer-Reinert</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if controller_name == 'home' %>">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= 'active' if controller_name == 'timer' %>"
                href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              Experiments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item <%= 'active' if controller_name == 'timer' %>" href="/timer">Timer</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav social-links">
          <li class="nav-item">
            <a href="mailto:ben@rifferreinert.com">
              <%= icon('far', 'envelope', id: 'mail-icon', class: 'mr-3') %>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/rifferreinert">
              <%= icon('fab', 'github', id: 'github-icon', class: 'mr-3') %>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/benjamin-riffer-reinert-24995177/">
              <%= icon('fab', 'linkedin', id: 'mail-icon', class: 'mr-3') %>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
